@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: #EEE;
}

h1 strong{
    font-family: 'Coiny', cursive;
    font-size: 72px;
}

h1{
    font-family: 'Coiny', cursive;
}

h2,h3,h4 {
    color: black;
}

h2,h3{
    font-size: 20px;
    background-color: #fcee21;
}

nav{
    width: 100%;
    border-top: 5px solid #fcee21;
}

footer h1{
    font-size: 33px;
}

ol{
    font-size: 2em;
    font-weight: 400;
    list-style-position: inside;
}

ul{
    list-style-type: none;
}

label{
    display: block;
}

img{
    width:100%
}

a{
    text-decoration: none;
    color:#555;
    margin-right: 30px;
}