@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

h2 strong{
    font-family: 'Coiny', cursive;
    font-size: 72px;
}

h1,h2,h3,h4 {
    color: black;
}

h2,h3{
    font-size: 20px;
    background-color: #fcee21;
}

footer h1{
    font-size: 33px;
}