@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

:root{
    font-size: 20px;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: #EEE;
}

nav h1, nav ul, header, main, footer{
    margin-left: 5%;
    margin-right: 5%;
}

h1 strong{
    font-family: 'Coiny', cursive;
    font-size: 72px;
}

h1{
    font-family: 'Coiny', cursive;
}

h2,h3{
    color: black;
    font-size: 20px;
    background-color: #fcee21;
    display: inline-block;
}

h4{
    color: #FFF;
    background-color: #000;
    font-size: 40px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
}

h5{
    font-size: 1.7em;
    /*shorthand margin ->  Arriba derecha abajo izquierda*/
    margin: 20px 0 20px 0;
}

nav{
    width: 100%;
    border-top: 5px solid #fcee21;
}

footer h1{
    font-size: 33px;
}

ol{
    font-size: 1.2em;
    font-weight: 400;
    list-style-position: inside;
    padding: 0px;
}

ol li{
    padding-bottom: 10px;
}

ol li:nth-last-child(1){
    background-color: #fcee21;
    font-weight: bold;
}

ul{
    list-style-type: none;
}

label{
    display: block;
    padding-top: 20px;
    font-weight: bold;
}

img{
    width:100%;
}

a{
    text-decoration: none;
    color:#555;
    margin-right: 30px;
}

form{
    padding-bottom: 50px;
}

input, textarea{
    width: 100%;
}

textarea{
    margin-bottom: 25px;
}

input[type=submit], input[type=reset]{
    width:180px;
    background-color: #000;
    color: #FFF;
    font-weight: bold;
    padding: 12px 7px 12px 7px;
    border: none;
}

.rojo{
    color:rgb(200, 0, 0);
}

.consulta{
    background-color: #fcee21;
    font-weight: bold;
    font-size: 28px;
    display: inline-block;
    margin: 0;
}

.encolumnar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alineadoTop{
    align-items: start!important;
}


#redes{
    font-size: 33px;
    color:#888;
    font-weight: bolder;
    margin-bottom: 25px;
    margin-right: 20px;
}

section{
    width: 45%;
}

@media only screen and (max-width:768px){

    .encolumnar{
        display: block;
    }

    section{
        width: 100%;
    }

    img{
        width:70%;
        margin-left: 15%;
    }

}

.footer{
    display: inline;
    margin-left: 50px;
    background-color: #fcee21;
}

footer{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fcee21;
    width: 100%;
    margin-left: 0%;
    margin-bottom: 20px;
}

aside img{
    width: 35%;
    margin-bottom: 30px;
    margin-left: 5px;
    display: flex;
    justify-content: space-evenly;
}